<h1>Index of HomeController</h1>
<h3>Subheading</h3>

<% if Flipper.enabled? :description %>
<p>Flipper's feature for :description must be enabled if you are seeing this.</p>
<% else %>
<p>Flipper's feature for :description is disabled. You get this instead.</p>
<% end %>